.header {    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    border:hidden;
    background-color:#45a29d;
    padding:1.5%;
    margin-bottom: 3%;
}    
.nav-links {
    list-style: none;
    display:inline-flex;
}
.link {
    text-decoration: none;
    margin: 10px;
    color: #C5C6C7;
    font-family: Papyrus;
    font-size: large;
    font-weight: bolder;
}